Repository danieljancar/hangbuddies, pull requests merged in 2025-05, with the labels that each got.

#56 Create navbar & fotoer
  README.md
  apps/backend/README.md
  apps/backend/src/modules/survey/schemas/survey-meta.schema.ts
  apps/backend/src/modules/survey/schemas/survey-question.schema.ts
  apps/frontend/public/icon.png
  apps/frontend/public/icons/icon-github.svg
  apps/frontend/public/primary_logo.png
  apps/frontend/src/app/app.component.html
  apps/frontend/src/app/app.component.ts
  apps/frontend/src/app/common/link.constants.ts
  apps/frontend/src/app/common/routes.ts
  apps/frontend/src/app/common/storage.constants.ts
  apps/frontend/src/app/features/home/home.component.html
  apps/frontend/src/app/features/home/home.component.scss
  apps/frontend/src/app/features/home/home.component.ts
  apps/frontend/src/app/features/home/landing/get-started/get-started.component.html
  apps/frontend/src/app/features/home/landing/get-started/get-started.component.scss
  apps/frontend/src/app/features/home/landing/get-started/get-started.component.ts
  apps/frontend/src/app/features/home/landing/landing.component.html
  apps/frontend/src/app/features/home/landing/landing.component.scss
  apps/frontend/src/app/features/home/landing/landing.component.ts
  apps/frontend/src/app/shared/directives/close-drawer/close-drawer.directive.ts
  apps/frontend/src/app/shared/directives/close-drawer/index.ts
  apps/frontend/src/app/shared/directives/index.ts
  apps/frontend/src/app/shared/directives/scroll-to/index.ts
  apps/frontend/src/app/shared/directives/scroll-to/scroll-to.directive.ts
  apps/frontend/src/app/shared/navigation/footer/footer.component.html
  apps/frontend/src/app/shared/navigation/footer/footer.component.scss
  apps/frontend/src/app/shared/navigation/footer/footer.component.spec.ts
  apps/frontend/src/app/shared/navigation/footer/footer.component.ts
  apps/frontend/src/app/shared/navigation/navbar/navbar.component.html
  apps/frontend/src/app/shared/navigation/navbar/navbar.component.scss
  apps/frontend/src/app/shared/navigation/navbar/navbar.component.spec.ts
  apps/frontend/src/app/shared/navigation/navbar/navbar.component.ts
  apps/frontend/src/app/styles/breakpoints.scss
  apps/frontend/src/app/styles/mixins.scss
  apps/frontend/src/app/styles/theme-colors.scss
  apps/frontend/src/app/styles/theme.scss
  apps/frontend/src/app/styles/utils.scss
  apps/frontend/src/app/utils/local-storage.service.ts
  apps/frontend/src/styles.scss
  bruno/core-api/survey/Create response.bru
  docs/SCSS_NAMING.md
Labels: pr, docs, frontend, bruno, backend

#59 Remove bullet points from footer lists
  apps/frontend/src/app/shared/navigation/footer/footer.component.scss
Labels: pr, frontend

#64 62 fix dev deployment workflows
  .github/workflows/deploy-dev-frontend.yml
  .github/workflows/dev-deployment-common.yml
  .github/workflows/dev-deployment.yml
Labels: pr, ci/cd

#61 Create latest blog section
  apps/frontend/public/illustrations/latest-blog.svg
  apps/frontend/src/app/features/home/home.component.html
  apps/frontend/src/app/features/home/home.component.ts
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-activities.component.html
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-activities.component.scss
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-activities.component.spec.ts
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-activities.component.ts
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-post/blog-post.component.html
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-post/blog-post.component.scss
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-post/blog-post.component.spec.ts
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-post/blog-post.component.ts
  apps/frontend/src/app/features/home/latest-blog/latest-blog.component.html
  apps/frontend/src/app/features/home/latest-blog/latest-blog.component.scss
  apps/frontend/src/app/features/home/latest-blog/latest-blog.component.ts
  apps/frontend/src/app/styles/utils.scss
  apps/frontend/src/app/types/blog-post.type.ts
  apps/frontend/src/styles.scss
Labels: enhancement, pr, frontend

#76 Update dependabot to group patches in a single PR
  .github/dependabot.yml
Labels: pr

#78 chore: add permissions to workflows
  .github/workflows/backend.yml
  .github/workflows/dev-deployment.yml
  .github/workflows/frontend.yml
  .github/workflows/label-pr.yml
  .github/workflows/prettier.yml
Labels: pr, ci/cd

#82 60 add comparison to the homepage
  apps/frontend/public/illustrations/Q29udHJvbGxlci5EZXNrdG9wIERlZmF1bHQgLSBOZXcgJFMyNi02MQ--.ica
  apps/frontend/public/illustrations/cinema.gif
  apps/frontend/src/app/features/home/comparison/comparison.component.html
  apps/frontend/src/app/features/home/comparison/comparison.component.scss
  apps/frontend/src/app/features/home/comparison/comparison.component.spec.ts
  apps/frontend/src/app/features/home/comparison/comparison.component.ts
  apps/frontend/src/app/features/home/home.component.html
  apps/frontend/src/app/features/home/home.component.ts
Labels: enhancement, pr, frontend

#81 63 create blogs endpoint
  apps/backend/scripts/seed/factories/blog-post.factory.ts
  apps/backend/scripts/seed/seed.ts
  apps/backend/src/app.module.ts
  apps/backend/src/modules/blog-post/blog-post.controller.ts
  apps/backend/src/modules/blog-post/blog-post.module.ts
  apps/backend/src/modules/blog-post/blog-post.service.ts
  apps/backend/src/modules/blog-post/dto/create-blog-post.dto.ts
  apps/backend/src/modules/blog-post/schemas/blog-post.schema.ts
  apps/backend/src/modules/blog-post/types/pagination-response.type.ts
Labels: pr, backend

#86 feat(frontend): add legal page component and fill them with markdown …
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/public/legal/content/code-of-conduct.md
  apps/frontend/public/legal/content/cookies.md
  apps/frontend/public/legal/content/privacy.md
  apps/frontend/public/legal/content/terms.md
  apps/frontend/public/legal/legal.json
  apps/frontend/src/app/app.component.spec.ts
  apps/frontend/src/app/app.config.ts
  apps/frontend/src/app/app.routes.ts
  apps/frontend/src/app/features/legal/legal-detail/legal-detail.component.html
  apps/frontend/src/app/features/legal/legal-detail/legal-detail.component.scss
  apps/frontend/src/app/features/legal/legal-detail/legal-detail.component.spec.ts
  apps/frontend/src/app/features/legal/legal-detail/legal-detail.component.ts
  apps/frontend/src/app/features/legal/legal-markdown-renderer/legal-markdown-renderer.component.html
  apps/frontend/src/app/features/legal/legal-markdown-renderer/legal-markdown-renderer.component.scss
  apps/frontend/src/app/features/legal/legal-markdown-renderer/legal-markdown-renderer.component.spec.ts
  apps/frontend/src/app/features/legal/legal-markdown-renderer/legal-markdown-renderer.component.ts
  apps/frontend/src/app/types/legal.type.ts
Labels: enhancement, pr, frontend

#87 Change blog post to blog
  apps/backend/scripts/seed/factories/blog.factory.ts
  apps/backend/scripts/seed/seed.ts
  apps/backend/src/app.module.ts
  apps/backend/src/modules/blog/blog.controller.ts
  apps/backend/src/modules/blog/blog.module.ts
  apps/backend/src/modules/blog/blog.service.ts
  apps/backend/src/modules/blog/dto/create-blog.dto.ts
  apps/backend/src/modules/blog/schemas/blog.schema.ts
  apps/backend/src/modules/blog/types/pagination-response.type.ts
Labels: pr, backend

#88 68 create blog overview detail views
  apps/backend/scripts/seed/factories/blog-post.factory.ts
  apps/backend/scripts/seed/factories/blog.factory.ts
  apps/backend/scripts/seed/seed.ts
  apps/backend/src/main.ts
  apps/backend/src/modules/blog-post/blog-post.controller.ts
  apps/backend/src/modules/blog-post/blog-post.module.ts
  apps/backend/src/modules/blog-post/blog-post.service.ts
  apps/backend/src/modules/blog-post/dto/create-blog-post.dto.ts
  apps/backend/src/modules/blog-post/schemas/blog-post.schema.ts
  apps/backend/src/modules/blog-post/types/pagination-response.type.ts
  apps/backend/src/modules/blog/blog.controller.ts
  apps/backend/src/modules/blog/blog.service.ts
  apps/backend/src/modules/blog/types/blog-tag.type.ts
  apps/backend/src/modules/blog/types/pagination-response.type.ts
  apps/frontend/package-lock.json
  apps/frontend/src/app/app.routes.ts
  apps/frontend/src/app/common/routes.ts
  apps/frontend/src/app/core/services/blog.service.ts
  apps/frontend/src/app/features/blog/blog-detail/blog-detail.component.html
  apps/frontend/src/app/features/blog/blog-detail/blog-detail.component.scss
  apps/frontend/src/app/features/blog/blog-detail/blog-detail.component.ts
  apps/frontend/src/app/features/blog/blog-overview/blog-overview.component.html
  apps/frontend/src/app/features/blog/blog-overview/blog-overview.component.scss
  apps/frontend/src/app/features/blog/blog-overview/blog-overview.component.ts
  apps/frontend/src/app/features/blog/blog.component.html
  apps/frontend/src/app/features/blog/blog.component.scss
  apps/frontend/src/app/features/blog/blog.component.ts
  apps/frontend/src/app/features/blog/shared/blog-post/blog-post.component.html
  apps/frontend/src/app/features/blog/shared/blog-post/blog-post.component.scss
  apps/frontend/src/app/features/blog/shared/blog-post/blog-post.component.ts
  apps/frontend/src/app/features/blog/shared/blog-post/blog-tag/blog-tag.component.html
  apps/frontend/src/app/features/blog/shared/blog-post/blog-tag/blog-tag.component.scss
  apps/frontend/src/app/features/blog/shared/blog-post/blog-tag/blog-tag.component.ts
  apps/frontend/src/app/features/blog/shared/loading-blog-post/loading-blog-post.component.html
  apps/frontend/src/app/features/blog/shared/loading-blog-post/loading-blog-post.component.scss
  apps/frontend/src/app/features/blog/shared/loading-blog-post/loading-blog-post.component.ts
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-activities.component.html
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-activities.component.scss
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-activities.component.ts
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-post/blog-post.component.scss
  apps/frontend/src/app/types/blog-pagination-response.type.ts
  apps/frontend/src/app/types/blog-tag.type.ts
  apps/frontend/src/app/types/blog.type.ts
Labels: pr, frontend, backend

#92 feat: add FAQ section
  apps/frontend/public/illustrations/faq.svg
  apps/frontend/src/app/features/home/faq-short/faq-short.component.html
  apps/frontend/src/app/features/home/faq-short/faq-short.component.scss
  apps/frontend/src/app/features/home/faq-short/faq-short.component.ts
  apps/frontend/src/app/features/home/home.component.html
  apps/frontend/src/app/features/home/home.component.ts
Labels: pr, frontend

#93 68 create blog overview detail views
  apps/frontend/src/app/common/routes.ts
  apps/frontend/src/app/features/blog/blog-detail/blog-detail.component.html
  apps/frontend/src/app/features/blog/blog-overview/blog-overview.component.scss
  apps/frontend/src/app/features/blog/blog.component.scss
  apps/frontend/src/app/features/blog/shared/loading-blog-post/loading-blog-post.component.scss
  apps/frontend/src/app/features/home/home.component.scss
  apps/frontend/src/app/features/home/latest-blog/blog-activities/blog-activities.component.scss
  apps/frontend/src/app/features/home/latest-blog/latest-blog.component.scss
Labels: pr, frontend

#79 ci: create environment configs
  .github/workflows/dev-deployment.yml
  apps/backend/.gitignore
  apps/backend/package-lock.json
  apps/backend/package.json
  apps/backend/src/app.module.ts
  apps/backend/src/main.ts
  apps/frontend/angular.json
  apps/frontend/dev-dockerfile
  apps/frontend/package-lock.json
  apps/frontend/package.json
  apps/frontend/prod-dockerfile
  apps/frontend/src/index.html
  apps/frontend/staging-dockerfile
  devops/.env.example
Labels: pr, ci/cd, frontend, backend
