Repository danieljancar/hangbuddies, pull requests merged in 2025-06, with the labels that each got.

#99 Add device-id header to frontend requests
  apps/frontend/src/app/app.config.ts
  apps/frontend/src/app/common/storage.constants.ts
  apps/frontend/src/app/core/device-id.interceptor.ts
  apps/frontend/src/app/core/device-id.service.ts
Labels: pr, frontend

#103 71 create cast vote view for survey
  apps/backend/package-lock.json
  apps/backend/src/modules/device/device.service.ts
  apps/frontend/src/app/app.routes.ts
  apps/frontend/src/app/common/routes.ts
  apps/frontend/src/app/core/device-id.service.ts
  apps/frontend/src/app/core/survey.service.ts
  apps/frontend/src/app/features/survey/cast-survey/cast-question/cast-question.component.html
  apps/frontend/src/app/features/survey/cast-survey/cast-question/cast-question.component.scss
  apps/frontend/src/app/features/survey/cast-survey/cast-question/cast-question.component.ts
  apps/frontend/src/app/features/survey/cast-survey/cast-survey.component.html
  apps/frontend/src/app/features/survey/cast-survey/cast-survey.component.scss
  apps/frontend/src/app/features/survey/cast-survey/cast-survey.component.ts
  apps/frontend/src/app/shared/components/dialog/dialog.component.ts
  apps/frontend/src/environments/environment.development.ts
Labels: pr, frontend, backend

#104 fix: update release branches config
  .releaserc.json
  CHANGELOG.md
Labels: pr
